



/* ------------ Email Verification ------------ */
.email-verification-block {
    padding: 32px;
}
.email-verification-text {
    margin-bottom: 0;
}
.email-verification-text a {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: 500;
}
.email-verification-actions {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.email-verification-resend {
    padding: 14px 24px;
}
.email-verification-logout {
    padding: 14px 24px;
    background: var(--main-color);
    color: white;
    border: none;
}
/* ------------ /end Email Verification ------------ */


/* ------------ Password Reset ------------ */
.password-reset-block {
    padding: 32px;
}
.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.password-reset__label {
    font-size: 13px;
    font-weight: 600;
}
.password-reset__input {
    padding: 10px 12px;
    border: 1px solid #cfcfcf;
    outline: none;
    border-radius: 8px;
}
.password-reset__input--error {
    border-color: red;
}
.password-reset-submit {
    width: max-content;
    padding: 9px 32px;
    margin-top: 16px;
}
.password-reset__error-text {
    margin: 0;
}
/* ------------ /end Password Reset ------------ */
















/* ------------ Unverified quotes ------------ */
.unverified-quotes-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.unverified-quotes-about__inner {
    max-width: 520px;
    margin: auto;
    padding: 32px 0;
}
.unverified-quotes-about__title {
    margin-bottom: 12px;
}
.unverified-quotes-about__text {
    margin: 0;
}
.unverified-quotes-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.unverified-quotes-card .card__header {
    margin-bottom: 0px;
}
.unverified-quotes-card .card__title {
    margin-bottom: 4px;
}
.unverified-quotes-card .card__body {
    margin: 10px 0 16px;
}
/* ------------ /end Unverified quotes ------------ */